.post--full-size
  %h2
    = post.title
    %small
      = post.created_at.to_formatted_s(:day_month_year)
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
  .post_comments
    - post.comments.each do |comment|
      = comment.body
      %br
      = comment.user.name if comment.user
  = simple_form_for @comment, html: { class: "form-horizontal" } do |f|
    = f.input :body, as: :text, input_html: { cols: 50, rows: 3 }
    = f.input :post_id, as: :hidden, input_html: { value: post.id }
    = f.button :submit
    