.post--full-size
  %h2
    = post.title
    %small
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
  %br
  .post_comments
    - post.comments.each do |comment|
      - next if comment.abusive 
      %p 
        Comment author:
        = comment.user.name
      %p
        Comment:
        = comment.body
      %p
        Comment value:
        = comment.votes_value
      %br
      = simple_form_for @vote, html: { class: "form-horizontal" } do |f|
        = f.input :value, as: :hidden, input_html: { value: 1 }
        = f.input :comment_id, as: :hidden, input_html: { value: comment.id }
        = f.button :submit, "Vote up"

      = simple_form_for @vote, html: { class: "form-horizontal" } do |f|
        = f.input :value, as: :hidden, input_html: { value: -1 }
        = f.input :comment_id, as: :hidden, input_html: { value: comment.id }
        = f.button :submit, "Vote down"

      %br
      
  = simple_form_for @comment, html: { class: "form-horizontal" } do |f|
    = f.input :body, as: :text, input_html: { cols: 50, rows: 3 }
    = f.input :post_id, as: :hidden, input_html: { value: post.id }
    = f.button :submit
    